name: build

on:
  workflow_dispatch:
  push:
    branches: 
      - main
  pull_request:

env:
  version: "2.0.${{ github.run_number }}${{ github.run_attempt }}"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      
    env:
      build_configuration: Release
      build_runtime: win-x64
      build_framework: net8.0
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8
      
    - name: dotnet restore
      run: dotnet restore
      
    - name: dotnet publish
      run: dotnet publish ArtistResolver.API/ArtistResolver.API.csproj --configuration ${{ env.build_configuration }} -p:PublishSingleFile=false --self-contained false -p:PublishTrimmed=false -p:PublishReadyToRun=true --runtime ${{ env.build_runtime }} --framework ${{ env.build_framework }} -p:Version=${{ env.version }} -p:PackageVersion=${{ env.version }} --output publish

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}/publish
      
    - name: dotnet test
      run: dotnet test ArtistResolver.API.sln --configuration ${{ env.build_configuration }} --framework ${{ env.build_framework }} --verbosity normal --logger "trx;LogFileName=TestResults.trx"
        
    - name: Publish Unit Test Results
      uses: dorny/test-reporter@v2
      with:
        name: Unit Test Results
        path: Tests/**/TestResults.trx
        reporter: dotnet-trx

  release:
    if: ${{ github.event_name != 'pull_request'  && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
    - name: Get artifacts
      uses: actions/download-artifact@v5
      with:
        name: build
        path: ${{ github.workspace }}/publish
      
    - name: Zip Files
      run: |
        cd "${{ github.workspace }}/publish/" 
        zip -r "ArtistResolver.zip" .
      
    - name: Create release
      uses: actions/github-script@v8
      id: create-release
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const {data: newRelease} = await github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            name: 'Artist Relation Resolver ${{ env.version  }}',
            tag_name: '${{ env.version  }}',
            generate_release_notes: true,
            draft: false,
            prerelease: false
          });
          console.log(`Release has been created with id ${newRelease.id}: ${newRelease.html_url}`)
          core.setOutput("url", newRelease.html_url)
          core.setOutput("id", newRelease.id)
          
    - name: Upload Release Assets
      uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const fs = require('fs').promises
          const attachment = await fs.readFile("./publish/ArtistResolver.zip")
          await github.rest.repos.uploadReleaseAsset({
            owner: context.repo.owner,
            repo: context.repo.repo,
            release_id: '${{ steps.create-release.outputs.id }}',
            data: attachment,
            name: 'ArtistResolver.zip'
          });

  publish-docker:
    if: ${{ github.event_name != 'pull_request'  && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    needs: build
    env: 
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      
    steps:
    - uses: actions/checkout@v5
  
    - name: Docker Setup QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_TOKEN }}
        logout: true

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "${{ github.workspace }}"
        file: "${{ github.workspace }}/ArtistResolver.API/Dockerfile"
        push: true
        platforms: linux/amd64
        tags: |
          mmuffins/artist-resolver-api:latest
          mmuffins/artist-resolver-api:${{ env.version }}
        labels: |
          org.opencontainers.image.title=${{ github.event.repository.name }}
          org.opencontainers.image.description=${{ github.event.repository.description }}
          org.opencontainers.image.url=${{ github.event.repository.html_url }}
          org.opencontainers.image.source=${{ github.event.repository.clone_url }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.version=${{ env.version }}
          org.opencontainers.image.licenses='MIT'